body {
  font-family: "Cambria";
  font-size: 15px;
  background: #fff;
  color: #666;
}

.logo {
  text-align: center;
  margin: auto;
  display: inline;

}

.container {
  width: 750px;
  border: 1px solid #ccc;
  margin: 20px auto;
  padding: 20px;
  border-top: #83cd39 3px solid;
}

.clr {
  clear: both;
}

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 5px 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

a {
  color: #404137;
  text-decoration: none;
}

nav {
  background: #404137;
  color: #fff;
  /*overflow: auto;*/
  height: 25px;
  padding: 8px 0 0 10px;
  font-size: 15px;
  border-radius: 3px;
}

nav li {
  float: left;
  list-style: none;
}

nav a {
  padding: 10px;
  margin: 0 10px;
  color: #fff;
  border-radius: 5px;
}

nav a.current, nav a:hover {
  background: #83cd29;
  color: #000;
  transition-duration: 100ms;
  transition-delay: 20ms;
}

footer {
  background: #83cd29;
  height: 30px;
  text-align: center;
  margin-top: 30px;
  padding: 5px 0 0 5px;
  color: #404137;
  border-radius: 3px;
  /*overflow: auto;*/
}

.meta {
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background: #ccc;
}

a.more {
  display: block;
  background: none;
  width: 80px;
  color: #83cd29;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 3px;
}

a.more:hover {
  background: #83cd29;
  color: #404137;
  transition-duration: 100ms;
  transition-delay: 20ms;
}

a.title:hover {
  color: #83cd29;
  transition-duration: 100ms;
  transition-delay: 20ms;
}

.post {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

input, select, textarea {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 180px;
  padding-top: 5px;
}

input[type='text'], select, textarea {
  padding: 3px;
  height: 20px;
  width: 200px;
  border: 1px #ccc solid;
  border-radius: 3px;
}

input[type='text']:focus, select:focus, textarea:focus {
  background-color: #f3ffd6;
}

input[type='submit'] {
  width: 80px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  background-color: #83cd29;
}

input[type='submit']:hover {
  background-color: #404137;
  color: #83cd29;
  font-weight: bold;
}

select {
  height: 28px;
}

textarea {
  height: 70px;
  width: 120px;
}

